@page
@model GamesModel
@{
	ViewData["Title"] = "Games";
	ViewData["ActivePage"] = ManageNavPages.Games;

	var games = Model.Backlog?.Games;
	var completedGames = Model.CompletedGames?.Games;
	var user = Model.User.Identity;
}

<h3>@ViewData["Title"]</h3>
<div id="errorMessage"></div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<div>
	@if (games != null && games.Any())
	{

		<ul class="games-list">

			@foreach (var game in games)
			{
				<li class="backlog-item">
					<a href="@game.SiteDetailUrl" target="_blank">@game.Name</a>
					<div class="backlog-btn">
						<button type="button" class="btn btn-success" data-completed-game-id="@game.Id" onclick="addToCompleted(this,'@user?.Name?.Trim()')" )>✓</button>
						<button type="button" class="btn btn-danger" data-game-id="@game.Id" onclick="removeFromBacklog(this,'@user?.Name?.Trim()')" )>X</button>
					</div>
				</li>
			}
		</ul>

	}
	else
	{
		<p>It appears you haven't added any games to your backlog!</p>
	}
</div>

<h3>Completed Games</h3>
<div>
	@if (completedGames != null && completedGames.Any())
	{

		<ul class="games-list">

			@foreach (var game in completedGames)
			{
				<li class="backlog-item">
					<a href="@game.SiteDetailUrl" target="_blank">@game.Name</a>
					<div class="backlog-btn">
						<button type="button" class="btn btn-warning" data-game-id="@game.Id" onclick="moveFromCompletedTobacklog(this,'@user?.Name?.Trim()')" )>Backlog</button>
					</div>
				</li>
			}
		</ul>

	}
	else
	{
		<p>It appears you haven't completed any games!</p>
	}
</div>