@page
@using Microsoft.AspNetCore.Html
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	var user = Model.User.Identity;
}

<div class="text-center">
	<h1 class="display-4">Backlog Tracker</h1>
</div>

<div id="errorMessage"></div>

<form method="post" style="margin-bottom:1rem">
	<div class="input-group">
		<input class="form-control" asp-for="SearchTerm" name="query">
		<div class="input-group-append">
			<button class="btn btn-primary" type="submit">Search</button>
		</div>
	</div>
</form>

@if (Model.GamesResponse?.Games is { Count: > 0 })
{
	<div class="row row-cols-4">
		@foreach (var game in Model.GamesResponse.Games)
		{
			<div class="col">
				<div class="card game-card">
					<div class="card-body">
						<h5 class="card-title">
							<a href="@game.SiteDetailUrl" target="_blank">@game.Name</a>
						</h5>
						@if (!string.IsNullOrEmpty(game.Description))
						{
							<div class="card-text-container">
								<p class="card-text">@(new HtmlString(game.Description))</p>
							</div>
						}
						@if (user !=null && user.IsAuthenticated)
						{
							<a class="btn btn-primary" id="btn_@game.Id" data-game-id="@game.Id" data-game-name="@game.Name" onclick="addToBacklog(this,'@user?.Name?.Trim()')">+</a>
						}
					</div>
				</div>
			</div>
		}
	</div>
}
else if (Model.GamesResponse?.Games is { Count: 0 })
{
	<p>@ViewData["NoResults"]</p>
}